@model IEnumerable<Unifisio_WebAplicação.Models.Paciente>

@{
    ViewBag.Title = "Lista Relatório";
    Layout = "~/Views/Shared/_LayoutLogado.cshtml";
}
<br />
<div class="text-center">
    <h2>Lista Relatório</h2>
</div>


<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>

            <td align="right">
                @Html.ActionLink("Relatório", "ListaRelatorio2", new { id = item.Id }, new { @class = "btn btn-success" })
            </td>
        </tr>

    }
</table>
