@{
    ViewBag.Title = "Sobre";
}
<br />
<main role="main">

    <div class="text-center">
        <h1>Sobre o UNIFISIO</h1>
        <p class="lead text-muted">A denominação do software é UNIFISIO, um derivado de UNIFAAT e Fisioterapia. Tem como objetivo auxiliar os profissionais de fisioterapia no tratamento de incontinência urinária.</p>
        <h4>Administrar sua clinica de fisioterapia não precisa ser dificil.</h4>
        <p class="lead text-muted"> Com UNIFISIO você cria seu próprio questionário de anamnese, cadastros de fisioterapeutas e relatórios. Também conta com um aplicativo simples e prático para troca de informações entre o profissional e o paciente.</p>
    </div>

    <div class="album py-5">
        <div class="container">

            <div class="row">
                <div class="col-md-6">
                    <div class="card mb-4 shadow-sm">
                        <img src="~/img/tela paciente.png" />

                        <div class="card-body">

                            <p class="card-text">Cadastre seus pacientes com dados pessoais,atualize e exclua</p>

                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card mb-4 shadow-sm">
                        <img src="~/img/tela fisioterapeuta.png" />

                        <div class="card-body">

                            <p class="card-text">Cadastre, atualize e exclua os seus fisioterapeutas do sistemas</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="album py-5">
        <div class="container">

            <div class="row">
                <div class="col-md-6">
                    <div class="card mb-4 shadow-sm">
                        <img src="~/img/Anamnese.png" />

                        <div class="card-body">

                            <p class="card-text">Crie as suas próprias Anamnese, com perguntas elaboradas pelo próprio Fisioterapeuta</p>

                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card mb-4 shadow-sm">
                        <img src="~/img/Usuarios.png" />

                        <div class="card-body">

                            <p class="card-text">Cadastre, seus usuários(Administrador,Fisioterapeuta,Paciente) para acessar o Unifisio</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

