@{
    ViewBag.Title = "Bem vindo";
}
<br />
<main role="main">

    
    <br />

    <div class="container marketing">
       
        <div class="row">         

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="O que é Incontinência urinária?">O que é Incontinência urinária? <span class="text-muted"></span></h2>
                    <p class="lead" align="justify">A incontinência urinária - perda involuntária de urina - é um problema comum e muitas vezes constrangedor. A gravidade varia: em alguns casos, a pessoa não consegue segurar a urina ao fazer esforços como tossir ou espirrar, em outros casos, a vontade de urinar é tão súbita e forte que não dá tempo de chegar a um banheiro.</p>
                </div>
                <div class="col-md-5">
                    <img src="~/img/Phisiotherapy-amico (1).png" width="325" height="325" />
                </div>
            </div>


            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading">Causas <span class="text-muted"></span></h2>
                    <p class="lead" align="justify">
                        Certas bebidas, alimentos e medicamentos podem atuar como diuréticos - estimular a bexiga e aumentar o seu volume de urina. Eles incluem: Álcool;
                        Cafeína;
                        Chá com cafeína e café;
                        Refrigerantes;
                        Adoçantes artificiais;
                        Xarope de milho;
                        Alimentos que são ricos em especiarias e açúcar;
                        Alimentos muito ácidos e cítricos;
                        Uso de medicamentos para doenças cardíacas e pressão arterial, além de sedativos e relaxantes musculares;
                        Grandes doses de vitaminas B ou C.
                    </p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img src="~/img/Phisiotherapy-pana (2).png" width="325" height="325" />
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">Sintomas <span class="text-muted"></span></h2>
                    <p class="lead" align="justify">
                        <strong> Incontinência urinária de esforço:</strong>
                        Liberação involuntária de urina, especialmente ao tossir, espirrar ou rir;
                        Vazamento de uma pequena a moderada quantidade de urina.
                        <br />
                        <strong>Incontinência urinária de urgência:</strong>
                        Frequente e incontrolável necessidade súbita de urinar;
                        Pode vazar uma quantidade de urina moderada a grave, apesar de uma pequena quantidade ser possível.
                        <br />
                        <strong>Incontinência urinária por transbordamento:</strong>
                        Vazamento de uma pequena quantidade de urina;
                        Jato urinário fraco;
                        Necessidade de se esforçar ao urinar e uma sensação de que a bexiga não está vazia;
                        Uma necessidade urgente de urinar muitas vezes durante a noite;
                        Vazamento de urina durante o sono.
                        <br />
                        <strong>Incontinência urinária funcional:</strong>
                        A deficiência física ou intelectual o impede a pessoa de ir até o banheiro urinar a tempo. Por exemplo, se você tem artrite severa, você pode não ser capaz de desabotoar sua calça com rapidez suficiente
                    </p>
                </div>
                <div class="col-md-5">
                    <img src="~/img/Rheumatology-pana.png" width="325" height="325" />
                </div>
            </div>

            <hr class="featurette-divider">

            <!-- /END THE FEATURETTES -->

        </div><!-- /.container -->
        <!-- FOOTER -->
    </div>

</main>